<app-nav></app-nav>
<!-- <button type="button" mat-raised-button color="primary" (click)="createUser()">Create User</button>
<p>
  <a href="../assets/files/text.txt" download>Download</a>
</p>
<p>
  <button (click)="downloadPdf()">Download PDF</button>
</p>
<p>
  <input type="file" (change)="onUpload($event)">
  <img *ngIf="imgRta" src="{{imgRta}}" alt="">
</p> -->
<app-products></app-products>
<!-- <p><input type="text" [(ngModel)]="imgParent" /></p>
<button (click)="toggleImg()">Toggle Img</button>
<p>{{ showImg}}</p>
<app-img *ngIf="showImg" (loaded)="onLoaded($event)" [img]="imgParent"></app-img>
<hr/> -->

